h1 {
    color: red;
}

h2 {
    color: blue;
}

h3 {
    color: yellow;
}

h4 {
    color: green;
}

h5 {
    color: hotpink;
}

h6 {
    color: orange;
}

p {
    color: darkmagenta;
}