h1 {
    color: darkkhaki;
}

h4 {
    background-color: yellow;
}

a {
    background-color: lightgreen;
}

.DANDY {
    background-color: rgb(254, 255, 190);
}

.WORL {
    background-color: rgb(229, 85, 85);
}